.active {
    /* Add your desired styles for the active link */
    color: blue;
    font-weight: bold;
  }

.menu-disabled {
  opacity: 0.65;
  cursor: not-allowed;
}

.menu-disabled:hover {
  text-decoration: none;
}
